<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet" href="sign_in.css">
</html>
<body>
    <div class="container">
        <div class="form-box" id="login-form">
            <form action="">
                <h2>Login</h2>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" name="Login">Login</button>
            </form>
        </div>

    </div>
</body>

</html>