* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    color: #333;
}

.container {
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ee;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #eee;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.6s;
}

button:hover{
    background: #6884d3;
}
